In [12]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import lightgbm as lgb

In [13]:
df1 = pd.read_csv("ford.csv")
df1["brand"] = "ford"
df2 = pd.read_csv("audi.csv")
df2["brand"] = "audi"
df3 = pd.read_csv("bmw.csv")
df3["brand"] = "bmw"
df4 = pd.read_csv("mercedes.csv")
df4["brand"] = "mercedes"
df5 = pd.read_csv("toyota.csv")
df5["brand"] = "toyata"
df6 = pd.read_csv("hyundai.csv")
df6["brand"] = "hyundai"
df = pd.concat([df1, df2, df3, df4, df5, df6])
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand,tax(£)
0,Fiesta,2017,12000,Automatic,15944,Petrol,150.0,57.7,1.0,ford,NaN
1,Focus,2018,14000,Manual,9083,Petrol,150.0,57.7,1.0,ford,NaN
2,Focus,2017,13000,Manual,12456,Petrol,150.0,57.7,1.0,ford,NaN
3,Fiesta,2019,17500,Manual,10460,Petrol,145.0,40.3,1.5,ford,NaN
4,Fiesta,2019,16500,Automatic,1482,Petrol,145.0,48.7,1.0,ford,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4855,I30,2016,8680,Manual,25906,Diesel,NaN,78.4,1.6,hyundai,0.0
4856,I40,2015,7830,Manual,59508,Diesel,NaN,65.7,1.7,hyundai,30.0
4857,I10,2017,6830,Manual,13810,Petrol,NaN,60.1,1.0,hyundai,20.0
4858,Tucson,2018,13994,Manual,23313,Petrol,NaN,44.8,1.6,hyundai,145.0
4859,Tucson,2016,15999,Automatic,11472,Diesel,NaN,57.6,1.7,hyundai,125.0

In [26]:
model_list = df["model"].tolist()
model_list = list(dict.fromkeys(model_list))
model_list.sort()
model_list

[' 1 Series',
 ' 2 Series',
 ' 3 Series',
 ' 4 Series',
 ' 5 Series',
 ' 6 Series',
 ' 7 Series',
 ' 8 Series',
 ' A Class',
 ' A1',
 ' A2',
 ' A3',
 ' A4',
 ' A5',
 ' A6',
 ' A7',
 ' A8',
 ' Accent',
 ' Amica',
 ' Auris',
 ' Avensis',
 ' Aygo',
 ' B Class',
 ' B-MAX',
 ' C Class',
 ' C-HR',
 ' C-MAX',
 ' CL Class',
 ' CLA Class',
 ' CLC Class',
 ' CLK',
 ' CLS Class',
 ' Camry',
 ' Corolla',
 ' E Class',
 ' EcoSport',
 ' Edge',
 ' Escort',
 ' Fiesta',
 ' Focus',
 ' Fusion',
 ' G Class',
 ' GL Class',
 ' GLA Class',
 ' GLB Class',
 ' GLC Class',
 ' GLE Class',
 ' GLS Class',
 ' GT86',
 ' Galaxy',
 ' Getz',
 ' Grand C-MAX',
 ' Grand Tourneo Connect',
 ' Hilux',
 ' I10',
 ' I20',
 ' I30',
 ' I40',
 ' I800',
 ' IQ',
 ' IX20',
 ' IX35',
 ' Ioniq',
 ' KA',
 ' Ka+',
 ' Kona',
 ' Kuga',
 ' Land Cruiser',
 ' M Class',
 ' M2',
 ' M3',
 ' M4',
 ' M5',
 ' M6',
 ' Mondeo',
 ' Mustang',
 ' PROACE VERSO',
 ' Prius',
 ' Puma',
 ' Q2',
 ' Q3',
 ' Q5',
 ' Q7',
 ' Q8',
 ' R Class',
 ' R8',
 ' RAV4',
 ' RS3',
 ' RS4',
 ' RS5',
 ' RS6',
 ' RS7',
 ' Ranger',
 ' S Class',
 ' S-MAX',
 ' S3',
 ' S4',
 ' S5',
 ' S8',
 ' SL CLASS',
 ' SLK',
 ' SQ5',
 ' SQ7',
 ' Santa Fe',
 ' Streetka',
 ' Supra',
 ' TT',
 ' Terracan',
 ' Tourneo Connect',
 ' Tourneo Custom',
 ' Transit Tourneo',
 ' Tucson',
 ' Urban Cruiser',
 ' V Class',
 ' Veloster',
 ' Verso',
 ' Verso-S',
 ' X-CLASS',
 ' X1',
 ' X2',
 ' X3',
 ' X4',
 ' X5',
 ' X6',
 ' X7',
 ' Yaris',
 ' Z3',
 ' Z4',
 ' i3',
 ' i8',
 '180',
 '200',
 '220',
 '230']

In [14]:
from sklearn.preprocessing import LabelEncoder
Numerics = LabelEncoder()

In [15]:
inputs = df.drop(['tax(£)', 'tax', 'engineSize'], axis='columns')
target = df.price
target

0       12000
1       14000
2       13000
3       17500
4       16500
        ...
4855     8680
4856     7830
4857     6830
4858    13994
4859    15999
Name: price, Length: 64131, dtype: int64

In [16]:
inputs['model_n']=Numerics.fit_transform(inputs['model'])
inputs['transmission_n']=Numerics.fit_transform(inputs['transmission'])
inputs['fueltype_n']=Numerics.fit_transform(inputs['fuelType'])
inputs['brand_n']=Numerics.fit_transform(inputs['brand'])
inputs

,model,year,price,transmission,mileage,fuelType,mpg,brand,model_n,transmission_n,fueltype_n,brand_n
0,Fiesta,2017,12000,Automatic,15944,Petrol,57.7,ford,38,0,4,2
1,Focus,2018,14000,Manual,9083,Petrol,57.7,ford,39,1,4,2
2,Focus,2017,13000,Manual,12456,Petrol,57.7,ford,39,1,4,2
3,Fiesta,2019,17500,Manual,10460,Petrol,40.3,ford,38,1,4,2
4,Fiesta,2019,16500,Automatic,1482,Petrol,48.7,ford,38,0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...
4855,I30,2016,8680,Manual,25906,Diesel,78.4,hyundai,56,1,0,3
4856,I40,2015,7830,Manual,59508,Diesel,65.7,hyundai,57,1,0,3
4857,I10,2017,6830,Manual,13810,Petrol,60.1,hyundai,54,1,4,3
4858,Tucson,2018,13994,Manual,23313,Petrol,44.8,hyundai,111,1,4,3
4859,Tucson,2016,15999,Automatic,11472,Diesel,57.6,hyundai,111,0,0,3

In [17]:
inputs_n = inputs.drop(['brand', 'price', 'model', 'transmission', 'fuelType'], axis='columns')
inputs_n

      year  mileage   mpg  model_n  transmission_n  fueltype_n  brand_n
0     2017    15944  57.7       38               0           4        2
1     2018     9083  57.7       39               1           4        2
2     2017    12456  57.7       39               1           4        2
3     2019    10460  40.3       38               1           4        2
4     2019     1482  48.7       38               0           4        2
...    ...      ...   ...      ...             ...         ...      ...
4855  2016    25906  78.4       56               1           0        3
4856  2015    59508  65.7       57               1           0        3
4857  2017    13810  60.1       54               1           4        3
4858  2018    23313  44.8      111               1           4        3
4859  2016    11472  57.6      111               0           0        3

[64131 rows x 7 columns]

In [18]:
model = linear_model.LinearRegression()

In [19]:
model.fit(inputs_n.values, target)

LinearRegression()

In [20]:
linear_r2 = model.score(inputs_n.values, target)
linear_r2

0.43566492983297844

In [22]:
pred=model.predict([[2016, 20000, 43.5, 14, 0, 0, 2]])
pred

array([20733.06669539])

In [24]:
lgb_model = lgb.LGBMRegressor(
    boosting_type='gbdt',
    num_leaves=31,
    n_estimators=100,
    reg_lambda=1.0
)

lgb_model.fit(inputs_n, target)

lgb_r2 = lgb_model.score(inputs_n.values, target)
lgb_r2

0.9491089317988514

In [25]:
pred=lgb_model.predict([[2016, 11472, 57.6, 111, 0, 0, 3]])
pred

array([15331.27405719])